ul.slick-dots{
    display: none;
}
.galaxya {
    background-image: url('../images/tesina1.svg');
         background-size: cover;
       background-position: center center;
       height: 100%;
       width: 100%;
}
.ampliar{
 height: 80%;  
   position: relative;
   z-index: 1;
    padding-bottom: 15%;

}

