ul.slick-dots{
    display: none;
}
.galaxya {
    background-image: url('../images/tesina1.svg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    /* background-attachment: scroll; */
    background-position: center center;
    height: 100%;
    width: 100%;
}
.ampliar{
   position: relative;
   z-index: 1;
    padding-bottom: 25vh;

}
@media only screen and (max-width: 900px) {
    
.galaxya {
    background: none;
}
}
