.carrera-figure{
    float: left;
    margin:0%;
}

.carrera-figure img { position: relative; 
width: 699px; 
height: 350px;
z-index: -1;
float: left;
margin-left: 0%;
padding:0%;
filter: grayscale(70%);
filter: blur(2px);

}


.breaker-bottom {
    position: absolute;
    background-image: url('../images/breaker-bottom.svg');
    background-repeat: no-repeat;
    z-index: 10;
    width: 71%;
    height:3%;
    margin-left: 0%;
}
.carrera-breaker{
    content: " ";
    position: absolute;
    background-image: url('../images/breaker.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center -10%;
    z-index: 10;
    width: 70%;
    height:3%;
    margin-top:32%;
}
.carreras-titulo{
margin-top: 10%;
margin-left: 0%;
position: absolute;
color:white;
z-index: 4;
letter-spacing: -4px;
text-align: center;
font-family: 'Droid Serif';
text-transform: uppercase;
}
