.novedades {
    /*padding-bottom: 700px;*/
    margin-bottom: 70%;
}
.titulo {
    letter-spacing: -1px;
    color: black;
    font-weight: bolder;
    font-family: "Droid Serif";
}
.subtitulo {
    letter-spacing: -1px;
    color: #bdbdbd;
    font-weight: bolder;
    font-family: "Raleway";
}
p{
    font-family: "Droid Serif";
    font-size: 16px;
}
h1,h2,h3,h4 {
    letter-spacing: -2px; 
}

.separador {
    position: relative;
    background-image: url(../images/ave.svg);
    top: -10px;
    left:45%;
    width: 10%;
    height: 50px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}