body {

   /*background-image: -webkit-gradient(linear, left top, left bottom, from(white),grey-color));*/
    background-image: -webkit-linear-gradient(left, white, #e0e0e0);
    background-image: -moz-linear-gradient(left, white, #e0e0e0);
    background-image: linear-gradient(to right, white, #e0e0e0);
}
.logo {
        -webkit-filter: drop-shadow( 1px 1px 5px white);

}

